<div class="col-md-6 user-container">
    <h4 class="text-center">Add Employee</h4>
    <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="username">Employee Name:</label>
        <input type="text" formControlName="employee_name" placeholder="Employee Name" name="username" class="form-control" id="name">
        <div *ngIf="addForm.get('employee_name').touched && addForm.get('employee_name').invalid" class="alert alert-danger">Employee Name is required</div>
      </div>

      <div class="form-group">
        <label for="age">Age:</label>
        <input type="number" formControlName="employee_age" placeholder="Age" name="age" class="form-control" id="age">
        <div *ngIf="addForm.get('employee_age').touched && addForm.get('employee_age').invalid" class="alert alert-danger">Employee Age is required</div>
      </div>
  
      <div class="form-group">
        <label for="salary">Salary:</label>
        <input type="number" formControlName="employee_salary" placeholder="Salary" name="salary" class="form-control" id="salary">
        <div *ngIf="addForm.get('employee_salary').touched && addForm.get('employee_salary').invalid" class="alert alert-danger">Employee Salary is required</div>
      </div>
  
      <button class="btn btn-success">Add</button>
    </form>
  </div>
